.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-main);
  color: var(--text-main);
}

.workspace {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.stage {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  min-width: 0;
}
